# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock

# .NET
**/bin/
**/obj/
**/*.user
**/appsettings.Development.json

# General
.env
.env.*
*.log
.DS_Store
