# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
.vscode/

# Windows
*.exe
*.dll
*.pdb
*.obj
*.ilk
*.cache

# Visual Studio
.vs/
bin/
obj/

# Rider
.idea/

# Logs
*.log

# NuGet
packages/

# User files
*.user
*.suo

# Secrets
appsettings.Development.json
.env
.env.*

# Generated
coverage/

# macOS
.DS_Store